USE [master]
GO
/****** Nesnesi: Database [db_biyoMedEkipman] Betik Tarihi: 4.06.2026 23:49:21 ******/
CREATE DATABASE [db_biyoMedEkipman]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_biyoMedEkipman', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\db_biyoMedEkipman.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_biyoMedEkipman_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\db_biyoMedEkipman_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_biyoMedEkipman].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_biyoMedEkipman]
GO
/****** Nesnesi: Table [dbo].[tbl_Bakım] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Bakım](
	[Bakım_id] [int] IDENTITY(1,1) NOT NULL,
	[Bakım_Acıklama] [varchar](50) NOT NULL,
	[Bakım_Tarih] [datetime] NOT NULL,
	[Musteri_id] [int] NULL,
	[ek_id] [int] NULL,
	[Ser_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Bakım_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tbl_Ekipman] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Ekipman](
	[ek_id] [int] IDENTITY(1,1) NOT NULL,
	[ek_ad] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[ek_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tbl_Musteri] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Musteri](
	[Musteri_id] [int] IDENTITY(1,1) NOT NULL,
	[Musteri_ad] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Musteri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[BakımYaptıgımızMusteriler] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BakımYaptıgımızMusteriler]
AS
SELECT tbl_Musteri.Musteri_ad AS 'Müşteri', tbl_Bakım.Bakım_Tarih AS 'Bakım Tarihi', tbl_Ekipman.ek_ad 'Bakım Yapılan Ekipman',tbl_Bakım.Bakım_Acıklama AS 'Bakım Türü'
FROM tbl_Bakım,tbl_Musteri,tbl_Ekipman
WHERE tbl_Bakım.Musteri_id=tbl_Musteri.Musteri_id AND tbl_Bakım.ek_id=tbl_Ekipman.ek_id
GO
/****** Nesnesi: Table [dbo].[tbl_Il] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Il](
	[il_id] [int] IDENTITY(1,1) NOT NULL,
	[il_ad] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[il_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tbl_Ilce] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Ilce](
	[ilce_id] [int] IDENTITY(1,1) NOT NULL,
	[ilce_ad] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ilce_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tbl_DepoAdres] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DepoAdres](
	[Depoadres_id] [int] IDENTITY(1,1) NOT NULL,
	[ilce_id] [int] NULL,
	[il_id] [int] NULL,
	[mahalle] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Depoadres_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tbl_DepoEnvanter] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DepoEnvanter](
	[DepoEnv_id] [int] IDENTITY(1,1) NOT NULL,
	[Adet] [int] NOT NULL,
	[Depoadres_id] [int] NULL,
	[ek_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepoEnv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[DepolardakiEkipmanStoklari] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DepolardakiEkipmanStoklari] 
AS 
SELECT tbl_Ekipman.ek_ad AS 'Ekipman',tbl_DepoEnvanter.Adet AS 'Stok' ,tbl_Il.il_ad AS'İl', tbl_Ilce.ilce_ad AS 'İlçe'
FROM tbl_DepoEnvanter,tbl_Ekipman,tbl_Il,tbl_Ilce,tbl_DepoAdres
WHERE tbl_DepoEnvanter.ek_id=tbl_Ekipman.ek_id AND tbl_DepoAdres.il_id=tbl_Il.il_id AND tbl_DepoAdres.ilce_id=tbl_Ilce.ilce_id AND tbl_DepoAdres.Depoadres_id=tbl_DepoEnvanter.Depoadres_id
GO
/****** Nesnesi: Table [dbo].[tbl_MusteriAdres] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MusteriAdres](
	[Musadres_id] [int] IDENTITY(1,1) NOT NULL,
	[Sokak] [varchar](50) NOT NULL,
	[Mahalle] [varchar](50) NOT NULL,
	[ilce_id] [int] NULL,
	[il_id] [int] NULL,
	[Mus_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Musadres_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tbl_Siparis] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Siparis](
	[sip_id] [int] IDENTITY(1,1) NOT NULL,
	[Adet] [int] NOT NULL,
	[Sip_Tarih] [datetime] NOT NULL,
	[depoadres_id] [int] NULL,
	[Musadres_id] [int] NULL,
	[ek_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[SiparisBilgileri] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [dbo].[SiparisBilgileri]
AS
SELECT DISTINCT tbl_Ekipman.ek_ad AS 'Sipariş Verilen Ekipman',tbl_Siparis.sip_tarih AS 'Sipariş Tarihi',tbl_Il.il_ad AS 'Çıktığı İl',tbl_Musteri.Musteri_ad AS 'Sipariş Veren Müşteri',tbl_Siparis.adet AS 'Adet'
FROM tbl_Siparis,tbl_Ekipman,tbl_Musteri,tbl_DepoAdres,tbl_MusteriAdres,tbl_Il
WHERE tbl_Siparis.ek_id=tbl_Ekipman.ek_id AND tbl_DepoAdres.il_id=tbl_Il.il_id AND tbl_Musteri.Musteri_id = (Select tbl_MusteriAdres.Mus_id FROM tbl_MusteriAdres WHERE tbl_MusteriAdres.Musadres_id = tbl_Siparis.Musadres_id) AND tbl_siparis.depoadres_id = tbl_DepoAdres.Depoadres_id



GO
/****** Nesnesi: View [dbo].[MusteriBilgileri] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MusteriBilgileri]
AS 
SELECT DISTINCT tbl_Musteri.Musteri_ad AS "Müşteri",tbl_Il.il_ad AS "İl",tbl_Ilce.ilce_ad AS "İlçe"
FROM tbl_Musteri , tbl_MusteriAdres,tbl_Il,tbl_Ilce
WHERE tbl_MusteriAdres.il_id = tbl_Il.il_id and tbl_MusteriAdres.ilce_id = tbl_Ilce.ilce_id AND tbl_MusteriAdres.Mus_id=tbl_Musteri.Musteri_id
GO
/****** Nesnesi: Table [dbo].[tbl_Servis] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Servis](
	[ser_id] [int] IDENTITY(1,1) NOT NULL,
	[ser_tel] [varchar](20) NULL,
	[il] [int] NOT NULL,
	[ilce] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ser_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ser_tel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[tbl_Personel] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Personel](
	[per_id] [int] IDENTITY(1,1) NOT NULL,
	[per_ad] [varchar](20) NOT NULL,
	[per_soyad] [varchar](20) NOT NULL,
	[ser_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[per_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[ServisPersonelBilgileri] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ServisPersonelBilgileri] 
AS 
SELECT tbl_Personel.per_ad AS 'İsim', tbl_Personel.per_soyad AS 'Soyad', tbl_Il.il_ad AS 'Çalıştığı Servisin İli',tbl_servis.ser_tel AS 'Servisin Telefonu'
FROM tbl_Personel,tbl_Servis,tbl_Il
WHERE tbl_Personel.ser_id=tbl_Servis.ser_id and tbl_Servis.il=tbl_Il.il_id
GO
ALTER TABLE [dbo].[tbl_Bakım] ADD  DEFAULT ('Rutin bakım') FOR [Bakım_Acıklama]
GO
ALTER TABLE [dbo].[tbl_Bakım] ADD  DEFAULT (getdate()) FOR [Bakım_Tarih]
GO
ALTER TABLE [dbo].[tbl_DepoEnvanter] ADD  DEFAULT ((1)) FOR [Adet]
GO
ALTER TABLE [dbo].[tbl_Siparis] ADD  DEFAULT ((1)) FOR [Adet]
GO
ALTER TABLE [dbo].[tbl_Siparis] ADD  DEFAULT (getdate()) FOR [Sip_Tarih]
GO
ALTER TABLE [dbo].[tbl_Bakım]  WITH CHECK ADD FOREIGN KEY([ek_id])
REFERENCES [dbo].[tbl_Ekipman] ([ek_id])
GO
ALTER TABLE [dbo].[tbl_Bakım]  WITH CHECK ADD FOREIGN KEY([Musteri_id])
REFERENCES [dbo].[tbl_Musteri] ([Musteri_id])
GO
ALTER TABLE [dbo].[tbl_Bakım]  WITH CHECK ADD FOREIGN KEY([Ser_id])
REFERENCES [dbo].[tbl_Servis] ([ser_id])
GO
ALTER TABLE [dbo].[tbl_DepoAdres]  WITH CHECK ADD FOREIGN KEY([il_id])
REFERENCES [dbo].[tbl_Il] ([il_id])
GO
ALTER TABLE [dbo].[tbl_DepoAdres]  WITH CHECK ADD FOREIGN KEY([ilce_id])
REFERENCES [dbo].[tbl_Ilce] ([ilce_id])
GO
ALTER TABLE [dbo].[tbl_DepoEnvanter]  WITH CHECK ADD FOREIGN KEY([Depoadres_id])
REFERENCES [dbo].[tbl_DepoAdres] ([Depoadres_id])
GO
ALTER TABLE [dbo].[tbl_DepoEnvanter]  WITH CHECK ADD FOREIGN KEY([ek_id])
REFERENCES [dbo].[tbl_Ekipman] ([ek_id])
GO
ALTER TABLE [dbo].[tbl_MusteriAdres]  WITH CHECK ADD FOREIGN KEY([il_id])
REFERENCES [dbo].[tbl_Il] ([il_id])
GO
ALTER TABLE [dbo].[tbl_MusteriAdres]  WITH CHECK ADD FOREIGN KEY([ilce_id])
REFERENCES [dbo].[tbl_Ilce] ([ilce_id])
GO
ALTER TABLE [dbo].[tbl_MusteriAdres]  WITH CHECK ADD FOREIGN KEY([Mus_id])
REFERENCES [dbo].[tbl_Musteri] ([Musteri_id])
GO
ALTER TABLE [dbo].[tbl_Personel]  WITH CHECK ADD FOREIGN KEY([ser_id])
REFERENCES [dbo].[tbl_Servis] ([ser_id])
GO
ALTER TABLE [dbo].[tbl_Servis]  WITH CHECK ADD  CONSTRAINT [fk_il] FOREIGN KEY([il])
REFERENCES [dbo].[tbl_Il] ([il_id])
GO
ALTER TABLE [dbo].[tbl_Servis] CHECK CONSTRAINT [fk_il]
GO
ALTER TABLE [dbo].[tbl_Servis]  WITH CHECK ADD  CONSTRAINT [fk_ilce] FOREIGN KEY([ilce])
REFERENCES [dbo].[tbl_Ilce] ([ilce_id])
GO
ALTER TABLE [dbo].[tbl_Servis] CHECK CONSTRAINT [fk_ilce]
GO
ALTER TABLE [dbo].[tbl_Siparis]  WITH CHECK ADD FOREIGN KEY([depoadres_id])
REFERENCES [dbo].[tbl_DepoAdres] ([Depoadres_id])
GO
ALTER TABLE [dbo].[tbl_Siparis]  WITH CHECK ADD FOREIGN KEY([ek_id])
REFERENCES [dbo].[tbl_Ekipman] ([ek_id])
GO
ALTER TABLE [dbo].[tbl_Siparis]  WITH CHECK ADD FOREIGN KEY([Musadres_id])
REFERENCES [dbo].[tbl_MusteriAdres] ([Musadres_id])
GO
ALTER TABLE [dbo].[tbl_DepoEnvanter]  WITH CHECK ADD  CONSTRAINT [Check_Adet] CHECK  (((20)>[Adet] AND [Adet]>(0)))
GO
ALTER TABLE [dbo].[tbl_DepoEnvanter] CHECK CONSTRAINT [Check_Adet]
GO
ALTER TABLE [dbo].[tbl_Siparis]  WITH CHECK ADD CHECK  (([Adet]>(0)))
GO
/****** Nesnesi: StoredProcedure [dbo].[EkipmanlarınBakımVeSiparisDurumları] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EkipmanlarınBakımVeSiparisDurumları]
@EkipmanID INT 
AS 
BEGIN 
SELECT * FROM tbl_Siparis
WHERE tbl_Siparis.ek_id = @EkipmanID
SELECT * FROM tbl_Bakım
WHERE tbl_Bakım.ek_id = @EkipmanID
END
GO
/****** Nesnesi: StoredProcedure [dbo].[GetLastOrdersFromDate] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLastOrdersFromDate]
(
 @ARALIKBASI DATETIME,
 @ARALIKSONU DATETIME
)
AS
BEGIN 
SELECT  Adet, Sip_tarih,depoadres_id,Musadres_id,ek_id
FROM tbl_Siparis
WHERE Sip_tarih BETWEEN @ARALIKBASI AND @ARALIKSONU
END
GO
/****** Nesnesi: StoredProcedure [dbo].[MusteriyeYapılanHizmetler] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MusteriyeYapılanHizmetler]
@MusteriID INT
AS
BEGIN
SELECT * FROM tbl_Siparis  
WHERE tbl_Siparis.Musadres_id = (SELECT tbl_MusteriAdres.Musadres_id FROM tbl_MusteriAdres WHERE tbl_MusteriAdres.Mus_id = @MusteriID)
SELECT * FROM tbl_Bakım
WHERE tbl_bakım.Musteri_id = @MusteriID
END
GO
/****** Nesnesi: StoredProcedure [dbo].[MusteriyeYardımEdebilcekPersonelBul] Betik Tarihi: 4.06.2026 23:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MusteriyeYardımEdebilcekPersonelBul]
  @IlId_Musteri INT
AS
BEGIN
  -- SQL_statements to be executed
  SELECT per_ad,per_soyad,ser_tel
  FROM tbl_Servis,tbl_Personel
  WHERE tbl_Servis.il = @IlId_Musteri AND tbl_Personel.ser_id = (SELECT ser_id FROM tbl_Servis WHERE tbl_Servis.il = @IlId_Musteri)
END;
GO
USE [master]
GO
